html {
  height: 100vh;
  background: linear-gradient(180deg, #ffffff 0%, #e0f7ff 50%, #0d47a1 100%);
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
  border-radius: 2rem;
  background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
  background-color: #0068e8;
  border-radius: 2rem;
}
